h1 {
    display: block;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.5);
    border: 2px solid rgb(83, 38, 5);
    border-radius: 8px;
    padding: 8px 12px;
    width: 50%;
    margin: 20px auto;
}
.container {
    padding: 40px;
    background: url(bg-image.jpg) no-repeat center/cover;
    text-align: center;
}
.grid {
    position: relative;
    width: 560px;
    height: 300px;
    border: 1px solid black;
    border-radius: 16px;
    margin: auto;
    display: block;
    background-color: rgb(255, 255, 255,0.5);
}
.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(83, 38, 5);
}
.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: white;
}
.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: black;
}
#score {
    display: block;
    background-color: rgb(83, 38, 5);
    color: white;
    padding: 8px 16px;
    width: 60px;
    margin: 10px auto;
    border: 1px solid white;
}
.control {
    display: block;
    margin-top: 20px;
    width: 100%;
}
.start, .reset {
    display: inline-block;
    background-color: white;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    margin: auto;
}
.start:hover, .reset:hover {
    background-color: rgb(241, 204, 158);
}